.header_01 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99999;
    background: transparent;
    // padding: 21px 40px 0 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    &.fixedbar {
        position: fixed !important;
        background: #2b8f94 !important;
        // padding: 10px 40px 0 24px;
    }
}

header {
    position: absolute;
    z-index: 9999;
    width: 100%;
    .logo {
        width: 140px;
        padding-left: 10px;
    }
    .navegador {
        background: #f65751;
    }
    .navbar {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 15px;
        padding-right: 30px;
    }
}

.navbar-brand {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 2em;
    color: #262626;
    font-family: "Poppins";
}

.nav-item {
    padding-left: 15px;
    font-weight: 900;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link {
    background: #262626;
    color: #fff;
    letter-spacing: 8px;
    border-radius: 5px;
}

.navbar-light .navbar-nav .nav-item .nav-link {
    color: #262626;
    padding: 8px;
    letter-spacing: 5px;
}

.navbar-light .navbar-toggler {
    border: none;
    color: #fff;
    border: 2px solid #7f7f7f;
    border-radius: 0;
    outline: none;
}

.p_detail {
    font-family: "Poppins" sans-serif;
}

.boton_personalizado {
    margin-left: 40px;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #262626;
    border-radius: 6px;
    &:hover {
        color: #262626;
        background-color: #ffffff;
    }
}