.overlay {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #fff;
    top: 0%;
    & h2 {
        color: black;
        font-size: 165px;
        text-transform: uppercase;
        letter-spacing: 33px;
        font-weight: 800;
        line-height: 1;
        position: absolute;
        top: 100px;
        left: 30px;
        z-index: 10;
        animation-duration: 1.2s;
        animation-fill-mode: both;
        animation-name: fadeInLeft;
        & span {
            color: black;
            display: block;
            text-align: right;
            font-size: 22px;
            letter-spacing: 20px;
            text-transform: capitalize;
            padding-right: 20px;
        }
    }
}

// /*
// @media (min-width:320px)  { 
// /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
// table, p, img {
//     padding-right: 1em;
//     width: 100%;
//     }
//  }
// @media (min-width:480px)  { 
// /* smartphones, Android phones, landscape iPhone */ 
// }
// @media (min-width:600px)  { 
// /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
// }
// @media (min-width:801px)  { 
// /* tablet, landscape iPad, lo-res laptops ands desktops */ 
// }
// @media (min-width:1025px) { 
// /* big landscape tablets, laptops, and desktops */ 
// }
// @media (min-width:1281px) { 
// /* hi-res laptops and desktops */ 
// }
// */